JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nYour\nPublic\nKey\n-----END PUBLIC KEY-----""

SERVER_URL=http://localhost:3001
NODE_ENV="development"

NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT
IMAGEKIT_PRIVATE_KEY=IMAGEKIT_PRIVATE_KEY
IMAGEKIT_PUBLIC_KEY=IMAGEKIT_PUBLIC_KEY